<div class="container">
  <div class="row">
    <h3>Edit Event: {{event.name}}</h3>
  </div>
  <div class="row">
    <form action="/event/edit/{{event.id}}" method="post">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="calendarId" value="{{event.calendarId}}"
      <p>Name <input value="{{event.name}}" name="name" type="text"></p>
      <p>Date <input value="{{event.date}}" name="date" type="date"></p>
      <p>Start Time <input value="{{event.startTime}}" name="startTime" type="time" step="1"></p>
      <p>End Time <input value="{{event.endTime}}" name="endTime" type="time" step="1"></p>
      <p>Description <textarea rows="4" cols="30" name="description">{{event.description}}</textarea></p>
      <button type="submit" class="btn">Update Event</button>
    </form>
  </div>
</div>
