{{#if warning}}
<div class="alert alert-danger">
  <strong>Error:</strong> Please check all your fields and try again.
</div>
{{/if}}

<header class="page-header">
  <h1>Edit Event: {{ event.name }}</h1>
</header>

<form action="/events/{{ event.id }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <h2>Event Info</h2>
  <div class="form-group">
    <label for="event_name">Event Name</label>
    <input type="text" class="form-control" name="event[name]" id="event_name" value="{{ event.name }}">
  </div>
  <div class="form-group">
    <label for="event_description">Event Description</label>
    <textarea class="form-control" rows="3" name="event[description]" id="event_description" value="{{ event.description }}" placeholder="{{ event.description }}"></textarea>
  </div>
  <div class="form-group">
    <label for="event_date">Event Date</label>
    <input type="date" class="form-control" name="event[date]" id="event_date" value="{{ event.date }}">
  </div>
  <div class="form-group">
    <label for="event_start">Event Start Time</label>
    <input type="time" class="form-control" name="event[start]" id="event_start" value="{{ event.start }}">
  </div>
  <div class="form-group">
    <label for="event_end">Event End Time</label>
    <input type="time" class="form-control" name="event[end]" id="event_end" value="{{ event.end }}">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>

