<header class="page-header">
  <h1>Edit Event: {{ _event.name }} for User: {{ _event.Calendar.name }}</h1>
</header>


<form action="/events/{{ _event.id }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <h2>Event Info</h2>
  <div class="form-group">
    <label for="event_name">Event Name</label>
    <input type="text" class="form-control" name="event[name]" id="event_name" value="{{ _event.name }}">
  </div>
  <div class="form-group">
    <label for="event_description">Event description</label>
    <input type="text" class="form-control" name="event[description]" id="event_description" value="{{ _event.description }}">
  </div>
  <div class="form-group">
    <label for="event_date">Event date</label>
    <input type="date" class="form-control" name="event[date]" id="event_date" value="{{ _event.date }}">
    <!--how to set event date value-->
  </div>
  <div class="form-group">
    <label for="event_start_time">Event start_time</label>
    <input type="time" class="form-control" name="event[start_time]" id="event_start_time" value="{{ _event.start_time }}">
  </div>
  <div class="form-group">
    <label for="event_end_time">Event end_time</label>
    <input type="time" class="form-control" name="event[end_time]" id="event_end_time" value="{{ _event.end_time }}">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
