
<header class="page-header">
  <h1>Events</h1>
  <a href="/events/new" class="btn btn-primary">+ New Event</a>
</header>



{{#if events.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Calendar Name</th>
        <th>Username</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each events as |event| }}
      <tr>
        <td>
          <a href="/events/{{ event.id }}">{{ event.name }}</a>
        </td>
        <td>
          <a href="/events/{{ event.id }}">{{ event.date }}</a>
        </td>
        <td>
          <a href="/events/{{ event.id }}">{{ event.start }}</a>
        </td>
        <td>
          <a href="/events/{{ event.id }}">{{ event.end }}</a>
        </td>
        <td>
          <a href="/calendars/{{ event.calendarId }}">{{ event.calendarName }}</a>
        </td>
        <td>
          <a href="/users/{{ event.userId }}">{{ event.username }}</a>
        </td>
        <td>
          <a href="/users/{{ event.userId }}">{{ event.email }}</a>
        </td>
        <td>
          <a href="/events/{{ event.id }}/edit" class="btn btn-primary">Edit</a>
        </td>
        <td>
          <a href="/events/{{ event.id }}?_method=delete"  class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No Events</p>
{{/if }}

