<header class="page-header">
  <h1>Event: {{ event.name }}</h1>
  <a href="/events/{{ event.id }}/edit" class="btn btn-primary">Edit</a>
  <a href="/events/{{ event.id }}?_method=delete" class="btn btn-danger">Delete</a>
</header>

<div>
  <p>Description: {{ event.description }}</p>
</div>

<table class="table">
  <tbody>
    <tr>
      <td>Event Name</td>
      <td>{{ event.name }}</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>{{ event.date }}</td>
    </tr>
    <tr>
      <td>Start Time</td>
      <td>{{ event.start }}</td>
    </tr>
    <tr>
      <td>End Time</td>
      <td>{{ event.end }}</td>
    </tr>
    <tr>
      <td>Calendar Name</td>
      <td>{{ calendar.name }}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
