

<header class="page-header">
  <h1>Event: {{ calevent.name }}</h1>
  <h2>Description: {{ calevent.description }}</h2>
  <h2>Date: {{ calevent.date }}</h2>
  <h2>Start: {{ calevent.start }}</h2>
  <h2>End: {{ calevent.end }}</h2>

 
</header>
