

<header class="page-header">
  <h1>Calendar: {{ calendar.name }}, {{ calendar.userId }}</h1>
  <a href="/calendar/{{ calendar.name }}/edit" class="btn btn-primary">Edit</a>
  <a href="/calendar/{{ calendar.name }}?_method=delete" class="btn btn-danger">Delete</a>
</header>

<p>Name: {{ calendar.name }}</p>
<p>Creator: {{ calendar.userId }}</p>
