<a href="/calendars/create" type="button" class="btn btn-success">+ New calendar</a>
<header><h1>Index Of All calendars</h1>
</header>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Calendar Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each calendars as |calendar|}}
      <tr>
        <td><a href="/calendars/{{calendar.id}}"> {{calendar.name}}</a></td>
        <td><a href="/calendars/{{calendar.id}}"> {{user.username}}</a></td>
        <td><a href="/calendars/{{calendar.id}}"> {{user.email}}</a></td>
        <td><a href="/calendars/{{calendar.id}}/edit" class="btn btn-primary">Edit</a></td>
        <td><a href="/calendars/{{calendar.id}}?_method=DELETE" class="btn btn-danger">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
