<h2>User: {{user.fname}} {{user.lname}}</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form action="/users/{{user.id}}/edit" method="get">
        <button type="submit" class="btn btn-secondary btn-lg">Edit</button>
      </form>
    </div>

    <div class="col-sm-4">
      <form action="/users/{{user.id}}/delete" method="post">
        <button type="submit" class="btn btn-secondary btn-lg">Delete</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">First Name</div>
    <div class="col-sm-3">{{user.fname}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3">Last Name</div>
    <div class="col-sm-3">{{user.lname}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3">Username</div>
    <div class="col-sm-3">{{user.username}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3">Email</div>
    <div class="col-sm-3">{{user.email}}</div>
  </div>
</div>
