<h1>User: {{user.fname}} {{user.lname}}</h1>

<button>Edit</button>
<button>Delete</button>

<table>
	<tr>
		<th>First Name</th>
		<td>{{user.fname}}</td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td>{{user.lname}}</td>
	</tr>
	<tr>
		<th>Username</th>
		<td>{{user.username}}</td>
	</tr>
	<tr>
		<th>Email</th>
		<td>{{user.email}}</td>
	</tr>
</table>