<a href="/users/create" type="button" class="btn btn-success">+ New User</a>
<header><h1>Index Of All Users</h1>
</header>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each users as |user|}}
      <tr>
        <td><a href="/users/{{user.id}}"> {{user.firstName}}</a></td>
        <td><a href="/users/{{user.id}}"> {{user.lastName}}</a></td>
        <td><a href="/users/{{user.id}}"> {{user.username}}</a></td>
        <td><a href="/users/{{user.id}}"> {{user.email}}</a></td>
        <td><a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a></td>
        <td><a href="/users/{{user.id}}?_method=DELETE" class="btn btn-danger">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
