<header class="page-header">
  <h1>Calendars</h1>
  <a href="/users/new" class="btn btn-primary">+ New Calendar</a>
</header>


{{#if users.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Calendar Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each calendars as |calendar| }}
      <tr>
        <td>
          <a href="/users/{{ user.id }}">{{ calendar.name }}</a>
        </td>
        <td>
          <a href="/users/{{ user.id }}">{{ user.lname }}</a>
        </td>
        <td>
          <a href="/users/{{ user.id }}">{{ user.username }}</a>
        </td>
        <td>
          <a href="/users/{{ user.id }}">{{ user.email }}</a>
        </td>
        <td>
          <a href="/users/{{ user.id }}/edit">Edit</a>
        </td>
        <td>
          <a href="/users/{{ user.id }}?_method=delete" class="text-danger">Delete</a>
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No users</p>
{{/if }}
