<header class="page-header">
  <h1>Calendar: {{ calendar.name }}</h1>
  <a href="/calendars/{{ calendar.id }}/edit" class="btn btn-primary">Edit</a>
  <a href="/calendars/{{ calendar.id }}?_method=delete" class="btn btn-danger">Delete</a>
</header>

<p>First Name: {{ calendar.name }}</p>
<p>Username: {{ calendar.username }}</p>
