<h2>Calendar: {{calendar.name}}</h2>

<button type="button" name="button">
  <a href="/calendars/{{calendar.id}}/edit">
    Edit
  </a>
</button>
</td>
<td>
<button type="button" name="button" class="btn btn-danger">
  <a href="/calendars/{{calendar.id}}?_method=delete">
    Delete
  </a>
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Calendar Name</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{calendar.name}}</td>
        <td>{{calendar.username}}</td>
      </tr>
  </tbody>
</table>
