<h2>User: {{user.username}}</h2>

<button type="button" name="button">
  <a href="/users/{{user.id}}/edit">
    Edit
  </a>
</button>
</td>
<td>
<button type="button" name="button" class="btn btn-danger">
  <a href="/users/{{user.id}}?_method=delete">
    Delete
  </a>
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
      </tr>

  </tbody>
</table>
